* {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'Noto Sans JP';
}

body {
  background-color: #242424;
}

h1 {font-size: 50px;}
h2 {font-size: 45px;}
h3 {font-size: 40px;}
h4 {font-size: 35px;}
h5 {font-size: 30px;}
h6 {font-size: 25px;}

footer {font-size: 15px; display: block;}
.sidebar {
  float: right;
  /*overflow: auto;*/
  height: 100vh;
  margin-left: 10px;
  margin-right: 5px;
  position: fixed;
  background-color: white;
  display: inline-block;
  text-color: #242424;
  color: #242424;
  
  border: 2px dashed #242424;
  padding: 2px;
}

a:link {color: white; text-decoration: underline;}
a:visited {color: white; text-decoration: underline;}
a:hover {color: grey; text-decoration: underline;}
a:active {color: grey; text-decoration: underline;}

.sidebar a:link {color: #242424; text-decoration: underline;}
.sidebar a:visited {color: #24242; text-decoration: underline;}
.sidebar a:hover {color: grey; text-decoration: underline;}
.sidebar a:active {color: grey; text-decoration: underline;}
