body {
    font-family: "Noto Sans";
    color: #c2b9a2;
    background-color: #090909;
}

main {
    background-color: #1c2527;
    padding: 2em;
    padding-top: 0em;
    border-radius: 5px;

    max-width: 800px;
    margin: auto;
}

header {
    font-size: 16pt;

    background-color: #1a2022;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    border-radius: 5px;

    max-width: 700px;
    margin: auto;
    text-align: center;
}

footer {
    font-size: 8pt;

    background-color: #1a2022;
    padding: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    border-radius: 5px;

    max-width: 700px;
    margin: auto;
    margin-top: 1.0em;
    text-align: center;
}

h1, h3 {
    font-family: "Raleway";
    padding-top: 1.0em;
}

pre, code {
    font-family: "Monospace";
    font-weight: lighter;
}

h1::before, h1::after {
    content: "// ";
    font-size: 22pt;
    font-style: italic;
    padding-right: 0.2em;
    padding-left: 0.3em;
}

h3::before {
    content: "- ";
    font-style: italic;
}

h1 {
    font-size: 26pt;
    padding-left: 1.0em;
}

h3 {
    font-size: 20pt;
    padding-left: 2.0em;
}

p, li {
    font-size: 14pt;
}

blockquote > p {
    font-size: 15pt;
    font-weight: lighter;
    font-style: italic;
    padding-left: 1em;
    border-left: 1pt solid;
}

a {
    text-decoration: none;
    /* font-family: "Raleway"; */
    font-weight: bold;
    font-style: italic;
    color: #525e8c;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

a:is(:hover, :focus-within) {
  text-decoration: underline;
  color: #527a8c;
  transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

hr {
    margin-bottom: 0.5em;
}

@media screen and (max-width: 800px) {
    body {
        max-width: 80%;
    }

    main {
        padding: 1em;
        padding-top: 0em;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 95%;
    }

    h1 {
        font-size: 18pt;
        padding-left: 0.7em;
    }

    h3 {
        font-size: 15pt;
        padding-left: 1em;
    }

    p, li {
        font-size: 12pt;
    }

    ul {
        padding-left: 1em;
    }

    blockquote {
        margin-left: 0.5em;
    }

    blockquote p {
        font-size: 12pt;
    }
}
